extends /layouts/layout-8-4

block header
	title Home

block content-left

	+component('component-sample','id1','Lorem ipsum','Hello World')


block content-right

	+component('component-sample','id2','Lorem ipsum','Hello World')