extends /layouts/<%= layout %>

block header
	title <%= metatitle %>
	meta(name="keywords",content="<%= metakeywords %>")
	meta(name="description", content=" <%= metadescription %>")

	
<%= content %>	